name: Send Slack Notification

on:
  schedule:
    - cron: '30 9 * * 5'
  workflow_dispatch: # Allows manual triggering

jobs:
  send-slack-notification:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: main  # Ensure we get the latest commit with updated CSV
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Send Slack notification
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: python send_slack.py

      - name: Commit updated emailed papers list
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add emailed_papers.csv
          git commit -m "Update emailed papers list after sending Slack notification" || echo "No changes to commit"
          git push || echo "No changes to push"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PAT_GITHUB }}
